<a href="https://colab.research.google.com/github/Khrys514/Aulas_Programacao_FPB/blob/main/Aula_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nomes = ['Zé', 'Tião', 'Joaquim']
nomes.append('Júlia')

#Varios valores
outrosNomes = ['Ana', 'Zelda', 'Link']
nomes.extend(outrosNomes)

nomes

# Remoção de Elementos de uma Lista

Para remover remove() ou pop()

*   Item da lista
*   Item da lista


remove (  )- Remove o Primeiro Elemento

---

pop (  ) - Remove o Ultimo Elemento

In [ ]:
#Crie uma Lista de números.
numeros = [ 2, 8, 7, 6, 2, 4]
#Remova o primeiro elemento da lista
numeros.remove(numeros[0])
#Remova o ultimo elemento da lista
numeros.pop()

numeros

In [ ]:
#Crie uma lista de notas, e exiba-a da menor para o maior

notas =[2, 10, 9 ,4, 7, 3, 8]
nomes = ['Josimar', 'Vilar', 'Galvanne', 'Grazziane']
notas.sort()

#nomes.sort(reverse=True)

#Crie uma lista de nomes de frutas e ordene-a em ordem descrecente

* Função `map()` serve para aplicar uma função a cada elemento
dispensado o uso de um loop (for ou while)

 `*map`(funcao, sequencia)

* Função filter() serve para filtrar elementos de uma sequência.

In [ ]:
#Exemplo de função map - cria uma nova lista com o dobro
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x :x*2, numeros))
nova_lista

In [ ]:
#Pegar cada número da lista acima e dividir por 3
numdiv3 = list(map(lambda x : x/3, numeros))
numdiv3

In [ ]:
#Pega os números da numeros e soma por 2
numsom2 = list(map(lambda n : n+2, numeros))
numsom2

In [18]:
#Exemplo função filter - a partir de uma lista de nomes e que separe pessoas que tem o nome cujo tamanho é maior do que 5.

nomes = ['Ana', 'José', 'Sebatião', 'Angélica', 'Leonardo']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['Sebatião', 'Angélica', 'Leonardo']

In [20]:
#Crie uma lista de números que imprime somentes notas ácima de 6.

notas = [7, 6, 7, 10, 6, 4, 3, 15, 7, 9]

novalista = list(filter(lambda n : n > 6, notas))
novalista

[7, 7, 10, 15, 7, 9]