<a href="https://colab.research.google.com/github/Khrys514/Aulas_Programacao_FPB/blob/main/Aula_004_Listas_e_La%C3%A7os.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

In [ ]:
#Listas são estruturas de dados formadas por elementos de um mesmo tipo
#listas em python são semelhantes a arrays em outras linguagens> mas têm diferenças
num = [25, 4, 3, 6, 9]

In [ ]:
#tamanho de uma lista
len(num)

5

In [ ]:
#A estrutura de dados Lista em python aceita que você faça coleções com tipos de dados diferentes.
objetos = ['faca', 'tesoura', 'chave', 3]
objetos

In [ ]:
#A ordenação das listas têm índice que inicia em 0, e vai até o tamanho da lista menos 1
print(num[0]) #Primeiro ítem da lista
print(num[1])
print(num[2])
print(num[3])
print(num[4])
print(num[5]) #Fora do índice

In [ ]:
#listas de outros tipos
alunos = ['Mariana', 'Luiz', 'Higor', 'Enzo', 'Valentina']

In [ ]:
#alterar o valores de ítens de lista
alunos[3] = 'Ivan'
alunos

['Mariana', 'Luiz', 'Higor', 'Ivan', 'Valentina']

In [ ]:
#inserir valores na lista .append()
alunos.append('Alex')
alunos

['Mariana', 'Luiz', 'Higor', 'Ivan', 'Valentina', 'Alex']

In [ ]:
alunos.append(input('Digite o nome: '))

Digite o nome: Aderbal

In [ ]:
alunos

['Mariana', 'Luiz', 'Higor', 'Ivan', 'Valentina', 'Alex', 'Aderbal']

In [ ]:
#Descobrir se há um valor determinado na lista, exibir sua posição na lista
if 'Luiz' in alunos:
  print('Tem luiz SIIM')
else:
  print('Não tem Luiz')

Tem luiz SIIM

In [ ]:
nome = input('Digite o nome: ')
if nome in alunos:
  print('Tem ', nome)
else:
  print('Não tem ', nome)

Digite o nome: Juliana
Não tem  Juliana

In [ ]:
objetos = ['faca', 'tesoura', 'chave', 3, 'Abacate', 'Livro', 'Boné']
objetos.pop(2)

objetos

['faca', 'tesoura', 3, 'Abacate', 'Livro', 'Boné']

In [ ]:
#deletar um item específico da lista de compras
del alunos[0]

Exercícios. 
1. Crie uma lista contendo 5 atores ou atrizes
2. Faça uma busca nessa lista, e verifique se há um determinado nome na lista. Notifique se há ou não o nome na lista
3. Modifique o código criado no item anterior, para que, além de verificar se há o nome na lista, deletar o registro do nome digitado.

#Laço for

In [ ]:
objetos = ['faca', 'tesoura', 'chave', 'Livro', 'caneta', 'copo']

In [ ]:
#Laço FOR 
for obj in objetos:
  print(obj)

In [ ]:
#Crie uma lista com 5 números em sequência.
nums = [1, 2, 3, 4, 5]
#Crie uma lista com os 300 primeiros números

In [ ]:
#Criar uma lista com números de 1 a 15
numeros = []
for num in range(15):
  numeros.append(num)

numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
#Para usar a bibliotecar Random, é preciso importá-la
import random

#Criar uma lista com tamanho aleatório (entre 0 e 50)
nums2 = []
for num in range(random.randrange(0, 50)):
  nums2.append(num)

nums2

[0, 1, 2]

In [ ]:
#Um número será múltiplo de outro, quando o resto da divisão entre eles for 0

2

In [ ]:
#(Parentesis)Descobrir se um número é par
a = 8
if a%2 == 0:
  print('É par')
else:
  print('É impar')

É par

In [ ]:
3%2

In [ ]:
#printar apenas os números pares.
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
for num in numeros:
  if num%2 == 0:
    print(num)

In [ ]:
macacos = ['chimpanze', 'bugio', 'mico-leao']
macacos.append('Gorila')

macacos

['chimpanze', 'bugio', 'mico-leao', 'Gorila']

In [ ]:
#criar uma nova lista chamada dobro
#Dobro recebe os elementos da lista numeros, cada um multiplicado por 2
dobro = []
for num in numeros:
  dobro.append(num * 2) 
dobro

In [ ]:
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
#Criar lista chamada triplo
triplo = []
for num in numeros:
  triplo.append(num*3)

triplo

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [ ]:
#Exercicio
## Crie uma lista chamada notas, que receba 5 notas de alunos de uma turma

In [ ]:
notas = []
for num in range(5):
  nota = int(input('Digite a nota'))
  notas.append(nota)
notas

In [ ]:
jogos = ['Mario', 'Sonic', 'God of War', 'The Last of Us', 'Tetris']

In [ ]:
#imprimir os elementos de uma lista
for jogo in jogos:
  print(jogo)

In [ ]:
# crie um código que insere novos títulos a lista jogos
jogos.append(input('Digite o jogo'))

jogos

#Laço While

In [ ]:
#Criar um programa que lista os números de 1 a 10
##Precisamos de um contador!
cont = 0

while (cont < 10):
  print(cont +1)
  cont+=1

In [ ]:
#Pede ao usuário para inserir um número inteiro maior que 1
#O programa deve imprimir todos os números até o número digitado.
cont = 0
num = int(input('insira um número '))
while (cont <= num):
  print(cont)
  cont+=1

In [ ]:
#Modifique o código anterior para que imprima apenas os números pares do intervalo

In [ ]:
#Retorna a soma de todos os números entre 1 e 100

In [ ]:
#Pede a senha do usuário. E dá 5 chances para o usuário inserir a senha correta.

In [ ]:
#Altere o código anterior e insira o seguinte critério:
#Caso terminem as 5 chances de inserir a senha, o programa deve informar "tentativas excedidas!"

In [ ]:
#Testar a entrada do usuário
#isdigit() Verificar se o que foi digitado é um número ou não
num = input('digite um número')
num.isdigit()

In [ ]:
#Solicitar que o usuário digite um nome. Caso ele digite um número, avise "Entrada incorreta!"

nome = input('Digite o nome! ')
if(nome.isdigit()):
  print('Entrada incorreta!')
else:
  print(f'o nome {nome} foi inserido com sucesso')

In [ ]:
#Solicitar que o usuário digite nomes de animais que serão inseridos em uma lista 'animais'.
#O programa encerra quando um número for digitado. 
#ao final, exibe-se na tela a lista de animais.
animais = []
animal = input('Digite um nome de animal: ')

while (animal.isdigit() == False):
  animais.append(animal)
  animal = input('Digite um nome de animal: ')

animais

In [ ]:
#Solicitar que o usuário digite nomes de cidades e as armazene em uma lista. 
#O programa termina caso o usuário digite "fim"

#Lista de exercícios
1. Escrever um algoritmo que lista todos os números ímpares que são múltiplos de três e que se encontram no conjunto dos números de 1 até 100.
2. Escrever um algoritmo parecido com o anterior, mas que soma todos os múltiplos de 5 de 1 até 500.
3. Crie um algoritmo que, dado um número informado pelo usuário, imprima a tabuada dele de 1 a 10. Use o formato de apresentação (considerando que o usuário informou o número 3):
    - 3 x 1 = 3
    - 3 x 2 = 6
    - ...
4. Desenvolva um programa que, lê o peso de 10 pessoas. Depois, calcula e mostra:
  - O maior peso
  - O menor peso
5. Faça um programa que leia um número não determinado de valores. Depois, calcule e retorne na tela: 
  - A média aritmética de todos os números
  - A quantidade de valores positivos
  - A quantidade de valores negativos
    * A condição de parada do laço é se o usuário digitar um caracter ou string.
6. Escreva um algoritmo que lê uma quantidade desconhecida de números e contabilize quantos estão nos intervalos a seguir: [1-25], [26-50], [51-75], [76-100]. O input de dados deve parar quando for digitado o número 0.
7. Faça um algoritmo que escreve os números ímpares entre 50 e 150
8. Faça um algoritmo que permita ao usuário informar a idade de quantas pessoas ele desejar (para quando ele digitar um caractere ou string). Após isso o algoritmo deve informar a soma das pessoas maiores de idade e a média de idade das pessoas maiores de idade informadas.
9. A sequência de Fibonacci é uma sucessão de números que, aparece em muitos fenômenos da natureza. Descrita no final do século 12 pelo italiano Leonardo Fibonacci, ela é infinita e começa com 0 e 1. Os números seguintes são sempre a soma dos dois números anteriores. Assim a sequência fica: {0, 1, 1, 2, 3, 5, 8, 13, 21, 34…}”. escreva um algoritmo que imprima na tela os n primeiros elementos da sequência de Fibonacci, onde n é informado pelo usuário.

In [ ]:
#Jogo adivinhe o número
#Desenvolva um jogo de adivinhação que siga as seguintes regras:
#1 - O jogo gera, aleatoriamente, um número secreto do tipo inteiro entre 0 e 100
#2 - Solicita ao usuário que tente adivinhar o número entre 0 e 100.
#3 - Um laço verifica se o número digitado é igual ao número secreto
#4 - Se o número digitado for menor que o número secreto, o valor mínimo passa a ser o número digitado
#5 - Se o número digitado for maior que o número secreto, o valor máximo passa a ser o número digitado
#6 - se o jogador acertar, recebe uma mensagem de parabéns e o número de tentativas que foi necessária.
###Para gerar inteiros aleatórios, importe from random import * e use a função randint()

Dia 13/01/2023

In [ ]:
#Cria uma lista com números de 1 a 15
numeros = []
for num in range(5):
  numeros.append(num)

numeros

In [ ]:
#Para usar a biblioteca random tem que importar
import random

#Uma lista que ela pode colocar uma quantidade aleatória entre 0 e 50
nums2 = []
for num in range(random.randrange(0, 50)):
  nums2.append(num)

nums2

In [ ]:
#Descobrir se um número é par

a = int(input('Digite um número: '))

if a % 2 == 0:
  print('{} é par.'.format(a))
else:
  print('{} é impar.'.format(a))

In [ ]:
#Descobrir se um número é impar ou par em um range de 0 a 50

numpares = []

for num in range(0, 51):
  if(num % 2 ==0):
    numpares.append(num)

numpares

In [ ]:
#Retone a soma dos números de 1 a 100
soma = 0

for n in range(101):
  soma = soma+n

soma

In [ ]:
cont = 0
while (cont < 10):
  print(cont +1)
  cont+=1